* {
  margin: 0;
  padding: 0;
}

html {
  background:
        /* top, transparent black, faked with gradient */ linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(./src/2048x1536-cyberpunk-cityscape-girl-digital-art-4k_1540755665.jpg)
      no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header a h1 {
  font-size: 30pt;
  display: inline-block;
  font-family: "Audiowide", cursive;
  color: black;
  margin: 30px;
  background-color: #fd2dfd;
  bottom: 0%;
  width: 100px;
  height: 100px;
  text-align: center;
  position: relative;
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 100%;
  text-decoration: none;
  text-shadow: 0px 0px 50px #fd2dfd;
}

.content-home {
  color: white;
  transform-style: preserve-3d;
  font-family: "Audiowide", cursive;
  font-size: 65px;
  height: 3em;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 50%;
  padding: 5px;
  list-style-type: none;
  text-shadow: 0px 0px 50px #000000;
}
.content-home:hover {
  color: #fd2dfd;
  transform-style: preserve-3d;
  font-family: "Audiowide", cursive;
  font-size: 65px;
  height: 3em;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 60%;
  padding: 5px;
  list-style-type: none;
  box-shadow: 0px 0px 10px 10px #fd2dfd;
  perspective: 750px;
}
.content-about {
  color: white;
  transform-style: preserve-3d;
  font-family: "Audiowide", cursive;
  font-size: 65px;
  height: 3em;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 50%;
  padding: 5px;
  list-style-type: none;
  text-shadow: 0px 0px 50px #000000;
}
.content-about:hover {
  color: #fd2dfd;
  transform-style: preserve-3d;
  font-family: "Audiowide", cursive;
  font-size: 65px;
  height: 3em;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 60%;
  padding: 5px;
  list-style-type: none;
  perspective: 750px;
  box-shadow: 0px 0px 10px 10px #fd2dfd;
}
.content-blog {
  color: white;
  transform-style: preserve-3d;
  font-family: "Audiowide", cursive;
  font-size: 65px;
  height: 3em;
  text-decoration: none;
  align-items: center;
  display: flex;
  justify-content: center;
  margin: auto;
  width: 50%;
  text-shadow: 0px 0px 50px #000000;
  padding: 5px;
  list-style-type: none;
}
.content-blog:hover {
  color: #fd2dfd;
  transform-style: preserve-3d;
  font-family: "Audiowide", cursive;
  font-size: 65px;
  height: 3em;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 60%;
  padding: 5px;
  list-style-type: none;
  perspective: 750px;
  box-shadow: 0px 0px 10px 10px #fd2dfd;
}
